<section class="flex">
  <div class="card w-full md:w-1/2 h-screen form-bg overflow-y-auto">
    <div class="pt-9 ps-9 title font-mono md:mt-16 mt-4">
      <h1 class="text-3xl font-bold text-blue-950 mb-2">Forget Password</h1>
      <p class="text-gray-500 text-lg mb-2">
        Please Finish This steps in order to reset your password
      </p>
    </div>

    <div class="ms-9">
      <p-stepper [value]="1">
        <p-step-item [value]="1">
          <p-step>Send Code</p-step>
          <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-20">
                <form
                  (ngSubmit)="verifyEmailSubmit()"
                  [formGroup]="verifyEmail"
                >
                  <label
                    for="email"
                    class="block mb-2 text-lg font-bold text-gray-900 dark:text-white"
                    >E-mail</label
                  >
                  <div class="relative">
                    <div class="flex items-center">
                      <span class="absolute top-2 left-3">
                        <i
                          class="fa-regular fa-envelope text-xl main-color"
                        ></i>
                      </span>
                    </div>

                    <input
                      formControlName="email"
                      type="email"
                      id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-800 focus:border-amber-800 block w-72 ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-800 dark:focus:border-amber-800"
                      placeholder="name@flowbite.com"
                    />
                  </div>
                </form>
              </div>
              <div class="py-6 mt-1 ms-20">
                <p-button
                  label="Send Code"
                  [disabled]="verifyEmail.invalid"
                  (onClick)="activateCallback(2)"
                  (onClick)="verifyEmailSubmit()"
                />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-item>

        <p-step-item [value]="2">
          <p-step>Verify Code</p-step>
          <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
              <form (ngSubmit)="verifyCodeSubmit()" [formGroup]="verifyCode">
                <div class="flex flex-col h-12">
                  <div class="card flex gap-3 mt-4">
                    <p class="font-semibold text-lg">Ener Code:</p>
                    <p-inputotp
                      [(ngModel)]="value"
                      [length]="6"
                      formControlName="resetCode"
                    />
                  </div>
                </div>
              </form>
              <div class="flex mt-0 py-6 gap-2">
                <p-button
                  label="Back"
                  severity="secondary"
                  (onClick)="activateCallback(1)"
                />
                <p-button
                  label="Verify Code"
                  [disabled]="verifyCode.invalid"
                  (onClick)="activateCallback(3)"
                  (onClick)="verifyCodeSubmit()"
                />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-item>

        <p-step-item [value]="3">
          <p-step>Change Password</p-step>
          <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-24">
                <form
                  (ngSubmit)="resetPasswordSubmit()"
                  [formGroup]="resetPassword"
                >
                  <label
                    for="email"
                    class="block mb-2 text-lg font-bold text-gray-900 dark:text-white"
                    >E-mail</label
                  >
                  <div class="relative">
                    <div class="flex items-center">
                      <span class="absolute top-2 left-3">
                        <i
                          class="fa-regular fa-envelope text-xl main-color"
                        ></i>
                      </span>
                    </div>

                    <input
                      formControlName="email"
                      type="email"
                      id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-800 focus:border-amber-800 block w-72 ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-800 dark:focus:border-amber-800"
                      placeholder="name@flowbite.com"
                    />
                  </div>

                  <label
                    for="newPassword"
                    class="block mt-4 mb-2 text-lg font-bold text-gray-900 dark:text-white"
                  >
                    New password</label
                  >
                  <div class="relative">
                    <div class="flex justify-between items-center">
                      <span class="absolute top-2 left-3">
                        <i
                          #lock
                          class="fa-solid fa-lock text-xl main-color"
                        ></i>
                      </span>

                      <span
                        class="absolute top-2 cursor-pointer right-8 md:right-[378px]"
                        (click)="togglePassword()"
                      >
                        <i
                          #eye
                          class="fa-solid fa-eye-slash text-xl main-color"
                        ></i>
                      </span>
                    </div>
                    <input
                      formControlName="newPassword"
                      #passwordInput
                      type="password"
                      id="newPassword"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-800 focus:border-amber-800 block w-72 md:w-80 ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-800 dark:focus:border-amber-800"
                      placeholder="xxxxxxxxx"
                    />
                  </div>
                </form>
              </div>
              <div class="flex gap-8 mt-20 ms-10 md:ms-20">
                <div class="py-6">
                  <p-button
                    label="Back"
                    severity="secondary"
                    (onClick)="activateCallback(2)"
                  />
                </div>
                <div class="py-6">
                  <p-button
                    [disabled]="resetPassword.invalid"
                    label="Verify Password"
                    severity="secondary"
                    (onClick)="resetPasswordSubmit()"
                  />
                </div>
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-item>
      </p-stepper>
    </div>
  </div>

  <div class="slider hidden md:block w-1/2 h-screen">
    <div class="image hidden md:block">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img
            src="/images/unsplash_krZnZodbOy4.png"
            class="w-full h-screen"
            alt=""
          />
          <div class="absolute bottom-24 left-64">
            <h2
              class="text-white capitalize text-3xl mb-2 md:text-3xl font-bold"
            >
              welcom to trendify
            </h2>
            <p class="text-white ms-12 capitalize md:text-lg font-medium">
              discover the latest trends,<br />
              express your unique style.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="/images/unsplash_DvIMVdLQinU.png"
            class="w-full h-screen"
            alt=""
          />
          <div class="absolute bottom-24 left-64">
            <h2
              class="text-white capitalize text-3xl mb-2 md:text-3xl font-bold"
            >
              welcom to trendify
            </h2>
            <p class="text-white ms-12 capitalize md:text-lg font-medium">
              discover the latest trends,<br />
              express your unique style.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="/images/unsplash_vYeWwcfzQWE.png"
            class="w-full h-screen"
            alt=""
          />
          <div class="absolute bottom-24 left-64">
            <h2
              class="text-black capitalize text-3xl mb-2 md:text-3xl font-bold"
            >
              welcom to trendify
            </h2>
            <p class="text-black ms-12 capitalize md:text-lg font-medium">
              discover the latest trends,<br />
              express your unique style.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="/images/unsplash_5A9cFNtWav0.png"
            class="w-full h-screen"
            alt=""
          />
          <div class="absolute bottom-24 left-64">
            <h2
              class="text-black capitalize text-3xl mb-2 md:text-3xl font-bold"
            >
              welcom to trendify
            </h2>
            <p class="text-black ms-12 capitalize md:text-lg font-medium">
              discover the latest trends,<br />
              express your unique style.
            </p>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
