<section
  class="md:container py-10 px-5 md:p-[70px] mt-5 bg-second dark:bg-slate-50"
>
  <div class="w-fit mx-auto flex flex-col items-center">
    <h2 class="text-2xl font-bold font-serif main-color mt-10">Categories</h2>

    <h3 class="text-4xl font-bold font-serif text-blue-950 mb-10 mt-7">
      {{ selectedTab }}
    </h3>

    <p-tabs value="0" class="md:w-full" (change)="updateTabName('')">
      <p-tablist>
        <div class="flex sm:flex flex-wrap">
          <p-tab value="0" (click)="updateTabName('Electronic')"
            >Electronic</p-tab
          >
          <p-tab value="1" (click)="updateTabName('Women\'s Fashion')"
            >Women's Fashion</p-tab
          >
          <p-tab value="2" (click)="updateTabName('Men\'s Fashion')"
            >Men's Fashion</p-tab
          >
          <p-tab value="3" (click)="updateTabName('SuperMarket')"
            >SuperMarket</p-tab
          >
          <p-tab value="4" (click)="updateTabName('Home')">Home</p-tab>
          <p-tab value="5" (click)="updateTabName('Books')">Books</p-tab>
          <p-tab value="6" (click)="updateTabName('Mobile')">Mobile</p-tab>
          <p-tab value="7" (click)="updateTabName('Baby & Toy')"
            >Baby & Toy</p-tab
          >
        </div>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <h2
            class="font-bold text-3xl text-black dark:text-white capitalize my-6"
          >
            Electronic <span class="main-color">(7)</span>
          </h2>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-3"
          >
            @for (product of products.slice(33,40).reverse(); track product._id
            ) {
            <div
              class="bg-white shadow-lg rounded-3xl overflow-hidden w-80 p-5 relative"
            >
              <div class="relative">
                <img
                  [src]="product.imageCover"
                  alt="Product Image"
                  class="w-[80%] h-[280px] relative left-7 object-cover rounded-xl"
                />
                <span
                  class="absolute top-60 left-0 bg-main text-white text-lg font-bold px-4 py-1 rounded"
                  >-50%</span
                >
                <span
                  (click)="toggleWishlist(product._id)"
                  class="heart absolute cursor-pointer top-0 left-60 z-20 text-3xl"
                >
                  <i
                    class="fa-heart"
                    [ngClass]="
                      isInWishlist(product._id)
                        ? 'fa-solid main-color'
                        : 'fa-regular main-color'
                    "
                  ></i>
                </span>
                <p-toast position="top-right"></p-toast>
              </div>

              <div class="card-body px-2 py-4">
                <h3 class="main-color font-mono text-lg">
                  {{ product.category.name }}
                </h3>
                <h4 class="font-bold dark:text-black">
                  {{ product.title.split(" ", 2).join(" ") }}
                </h4>

                <span class="block mt-1 main-color font-mono text-lg"
                  ><span class="font-bold text-black dark:text-black"
                    >Available Quantity:</span
                  >
                  {{ product.quantity }}</span
                >

                <div class="flex items-center justify-between">
                  <div>
                    <span
                      ><span
                        class="main-color font-mono font-semibold text-lg"
                        >{{ product.price }}</span
                      >
                      <span class="dark:text-black"> EGP</span></span
                    >

                    <div
                      class="item-center font-bold text-slate-800 mt-1 flex items-center dark:text-black"
                    >
                      <span class="mr-1">{{ product.ratingsAverage }}</span>

                      @for (star of getFullStars(product.ratingsAverage); track
                      star) {
                      <i class="fas fa-star text-yellow-400"></i>
                      } @if (getHasHalfStar(product.ratingsAverage)) {
                      <i class="fas fa-star-half-alt text-yellow-400"></i>
                      }
                    </div>
                  </div>
                </div>

                <div
                  class="flex my-3 cursor-pointer"
                  [routerLink]="['/details', product._id]"
                >
                  <h3
                    class="font-bold text-black font-mono text-lg dark:text-black"
                  >
                    See more Details
                  </h3>
                  <span class="main-color font-bold font-mono text-2xl ms-1"
                    ><i class="fa-solid fa-arrow-right-long"></i
                  ></span>
                </div>
                <button
                  (click)="addToCart(product._id)"
                  [disabled]="isAddLoading[product._id]"
                  class="relative left-60 mt-2 main-color rounded-md w-9 h-9 text-3xl font-bold"
                >
                  @if (!isAddLoading[product._id]) {

                  <i class="fa-solid fa-cart-plus"></i>
                  } @else {
                  <i class="fas fa-spinner fa-spin"></i>
                  }
                </button>
                <p-toast position="top-right"></p-toast>
              </div>
            </div>
            }
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <h2
            class="font-bold text-3xl text-black capitalize my-6 dark:text-black"
          >
            Women's Fashion <span class="main-color">(11)</span>
          </h2>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-3"
          >
            @for (product of products.slice(0,11); track product._id) {
            <div
              class="bg-white shadow-lg rounded-3xl overflow-hidden w-80 p-5 relative"
            >
              <div class="relative">
                <img
                  [src]="product.imageCover"
                  alt="Product Image"
                  class="w-[80%] h-[280px] relative left-7 object-cover rounded-xl"
                />
                <span
                  class="absolute top-60 left-0 bg-main text-white text-lg font-bold px-4 py-1 rounded"
                  >-50%</span
                >
                <span
                  (click)="toggleWishlist(product._id)"
                  class="heart absolute cursor-pointer top-0 left-60 z-20 text-3xl"
                >
                  <i
                    class="fa-heart"
                    [ngClass]="
                      isInWishlist(product._id)
                        ? 'fa-solid main-color'
                        : 'fa-regular main-color'
                    "
                  ></i>
                </span>
                <p-toast position="top-right"></p-toast>
              </div>

              <div class="card-body px-2 py-4">
                <h3 class="main-color font-mono text-lg">
                  {{ product.category.name }}
                </h3>
                <h4 class="font-bold dark:text-black">
                  {{ product.title.split(" ", 2).join(" ") }}
                </h4>

                <span class="block mt-1 main-color font-mono text-lg"
                  ><span class="font-bold text-black dark:text-black"
                    >Available Quantity:</span
                  >
                  {{ product.quantity }}</span
                >

                <div class="flex items-center justify-between">
                  <div>
                    <span
                      ><span
                        class="main-color font-mono font-semibold text-lg"
                        >{{ product.price }}</span
                      >
                      <span class="dark:text-black"> EGP</span></span
                    >

                    <div
                      class="item-center font-bold text-slate-800 mt-1 flex items-center dark:text-black"
                    >
                      <span class="mr-1">{{ product.ratingsAverage }}</span>

                      @for (star of getFullStars(product.ratingsAverage); track
                      star) {
                      <i class="fas fa-star text-yellow-400"></i>
                      } @if (getHasHalfStar(product.ratingsAverage)) {
                      <i class="fas fa-star-half-alt text-yellow-400"></i>
                      }
                    </div>
                  </div>
                </div>

                <div
                  class="flex my-3 cursor-pointer"
                  [routerLink]="['/details', product._id]"
                >
                  <h3
                    class="font-bold text-black font-mono text-lg dark:text-black"
                  >
                    See more Details
                  </h3>
                  <span class="main-color font-bold font-mono text-2xl ms-1"
                    ><i class="fa-solid fa-arrow-right-long"></i
                  ></span>
                </div>
                <button
                  (click)="addToCart(product._id)"
                  [disabled]="isAddLoading[product._id]"
                  class="relative left-60 mt-2 main-color rounded-md w-9 h-9 text-3xl font-bold"
                >
                  @if (!isAddLoading[product._id]) {

                  <i class="fa-solid fa-cart-plus"></i>
                  } @else {
                  <i class="fas fa-spinner fa-spin"></i>
                  }
                </button>
                <p-toast position="top-right"></p-toast>
              </div>
            </div>
            }
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <h2
            class="font-bold text-3xl text-black capitalize my-6 dark:text-black"
          >
            Men's Fashion <span class="main-color">(22)</span>
          </h2>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-3"
          >
            @for (product of products.slice(11,33); track product._id) {
            <div
              class="bg-white shadow-lg rounded-3xl overflow-hidden w-80 p-5 relative"
            >
              <div class="relative">
                <img
                  [src]="product.imageCover"
                  alt="Product Image"
                  class="w-[80%] h-[280px] relative left-7 object-cover rounded-xl"
                />
                <span
                  class="absolute top-60 left-0 bg-main text-white text-lg font-bold px-4 py-1 rounded"
                  >-50%</span
                >
                <span
                  (click)="toggleWishlist(product._id)"
                  class="heart absolute cursor-pointer top-0 left-60 z-20 text-3xl"
                >
                  <i
                    class="fa-heart"
                    [ngClass]="
                      isInWishlist(product._id)
                        ? 'fa-solid main-color'
                        : 'fa-regular main-color'
                    "
                  ></i>
                </span>
                <p-toast position="top-right"></p-toast>
              </div>

              <div class="card-body px-2 py-4">
                <h3 class="main-color font-mono text-lg">
                  {{ product.category.name }}
                </h3>
                <h4 class="font-bold dark:text-black">
                  {{ product.title.split(" ", 2).join(" ") }}
                </h4>

                <span class="block mt-1 main-color font-mono text-lg"
                  ><span class="font-bold text-black dark:text-black"
                    >Available Quantity:</span
                  >
                  {{ product.quantity }}</span
                >

                <div class="flex items-center justify-between">
                  <div>
                    <span
                      ><span
                        class="main-color font-mono font-semibold text-lg"
                        >{{ product.price }}</span
                      >
                      <span class="dark:text-black"> EGP</span></span
                    >

                    <div
                      class="item-center font-bold text-slate-800 mt-1 flex items-center dark:text-black"
                    >
                      <span class="mr-1">{{ product.ratingsAverage }}</span>

                      @for (star of getFullStars(product.ratingsAverage); track
                      star) {
                      <i class="fas fa-star text-yellow-400"></i>
                      } @if (getHasHalfStar(product.ratingsAverage)) {
                      <i class="fas fa-star-half-alt text-yellow-400"></i>
                      }
                    </div>
                  </div>
                </div>

                <div
                  class="flex my-3 cursor-pointer"
                  [routerLink]="['/details', product._id]"
                >
                  <h3
                    class="font-bold text-black font-mono text-lg dark:text-black"
                  >
                    See more Details
                  </h3>
                  <span class="main-color font-bold font-mono text-2xl ms-1"
                    ><i class="fa-solid fa-arrow-right-long"></i
                  ></span>
                </div>
                <button
                  (click)="addToCart(product._id)"
                  [disabled]="isAddLoading[product._id]"
                  class="relative left-60 mt-2 main-color rounded-md w-9 h-9 text-3xl font-bold"
                >
                  @if (!isAddLoading[product._id]) {

                  <i class="fa-solid fa-cart-plus"></i>
                  } @else {
                  <i class="fas fa-spinner fa-spin"></i>
                  }
                </button>
                <p-toast position="top-right"></p-toast>
              </div>
            </div>
            }
          </div>
        </p-tabpanel>

        <p-tabpanel value="3">
          <h4 class="text-2xl mt-3 text-center">
            No items available in this category
          </h4>
        </p-tabpanel>

        <p-tabpanel value="4">
          <h4 class="text-2xl mt-3 text-center">
            No items available in this category
          </h4>
        </p-tabpanel>

        <p-tabpanel value="5">
          <h4 class="text-2xl mt-3 text-center">
            No items available in this category
          </h4>
        </p-tabpanel>
        <p-tabpanel value="6">
          <h4 class="text-2xl mt-3 text-center">
            No items available in this category
          </h4>
        </p-tabpanel>

        <p-tabpanel value="7">
          <h4 class="text-2xl mt-3 text-center">
            No items available in this category
          </h4>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
