<section class="md:p-[70px]">
  <nav class="text-gray-500 ms-6 text-xl mb-5 mt-10">
    <span class="main-color text-lg font-bold"
      >Home <span class="text-gray-500">></span></span
    >

    <span class="text-blue-950 font-semibold px-1"
      >About Us <span class="text-gray-500">></span>
    </span>
  </nav>

  <div class="flex flex-col md:flex-row items-center p-10 rounded-3xl">
    <div
      class="bg-white p-6 rounded-2xl z-50 md:relative md:left-40 shadow-lg max-w-md md:max-w-lg"
    >
      <span class="text-3xl main-color font-bold">
        <i class="fa-solid fa-quote-left"></i>
      </span>
      <p class="text-gray-600 text-lg italic mt-2">
        We are glad to present you our most perfect Shopify theme, which
        supports Sections Everywhere, very high metric scores by google page
        speed insight. This is the most mobile-oriented theme that will be
        convenient on any of your devices.
      </p>
      <div class="mt-4 flex items-center gap-20">
        <h4 class="text-blue-900 font-semibold">Jack Donovan</h4>

        <div class="image">
          <img
            src="/images/a46f796356a851372a3b02c61f6362e8.png"
            alt="Signature"
            class="w-24 mt-2"
          />
        </div>
      </div>
    </div>

    <div class="mt-6 md:mt-0 md:ml-10">
      <img
        src="/images/e1413d9df8ed7620a2599e60bc03591e.jpeg"
        alt="Testimonial"
        class="rounded-3xl shadow-md object-cover w-full md:w-[500px] lg:w-[800px] h-[500px]"
      />
    </div>
  </div>
</section>

<section class="mt-12">
  <div class="title text-center">
    <h1 class="text-xl md:text-3xl font-bold mb-6 font-serif text-blue-950">
      A few words about us
    </h1>

    <p class="text-lg md:text-xl font-normal font-serif text-blue-950">
      Make your best moments more stylish with our latest designs of clothing.
    </p>
  </div>

  <div
    class="flex items-center flex-col md:flex-row items-cente p-10 mt-16 rounded-3xl"
  >
    <div class="mt-6 md:mt-0 md:ml-10">
      <img
        src="/images/Group 2167.png"
        alt="Testimonial"
        class="rounded-3xl shadow-md object-cover w-full md:w-[500px] lg:w-[700px] h-[500px]"
      />
    </div>

    <div class="md:relative p-5 md:left-20 max-w-md md:max-w-lg">
      <h2 class="text-xl font-bold mb-6 font-serif text-blue-950">
        Why choose us ?
      </h2>

      <p class="text-gray-600 text-lg italic mt-2">
        Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu
        id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut.
        Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac
        sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed
        mauris. Integer congue, sem elementum varius tristique.
      </p>
    </div>
  </div>
</section>

<section class="mt-12">
  <div
    class="flex items-center gap-14 flex-col md:flex-row items-cente p-10 mt-16 rounded-3xl"
  >
    <div class="md:relative p-5 max-w-md md:max-w-lg">
      <h2 class="text-xl font-bold mb-6 font-serif text-blue-950">
        Trusted online shopping
      </h2>

      <p class="text-gray-600 text-lg italic mt-2">
        Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu
        id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut.
        Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac
        sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed
        mauris. Integer congue, sem elementum varius tristique.
      </p>
    </div>

    <div class="mt-6 md:mt-0 md:ml-10">
      <img
        src="/images/Group 2169.png"
        alt="Testimonial"
        class="rounded-3xl shadow-md object-cover w-full md:w-[500px] lg:w-[700px] h-[500px]"
      />
    </div>
  </div>
</section>

<section class="mt-12">
  <div
    class="flex items-center flex-col md:flex-row items-cente p-10 mt-16 rounded-3xl"
  >
    <div class="mt-6 md:mt-0 md:ml-10">
      <img
        src="/images/Group 2168.png"
        alt="Testimonial"
        class="rounded-3xl shadow-md object-cover w-full md:w-[500px] lg:w-[700px] h-[500px]"
      />
    </div>

    <div class="md:relative p-5 md:left-20 max-w-md md:max-w-lg">
      <h2 class="text-xl font-bold mb-6 font-serif text-blue-950">
        Trusted online shopping
      </h2>

      <p class="text-gray-600 text-lg italic mt-2">
        Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu
        id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut.
        Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac
        sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed
        mauris. Integer congue, sem elementum varius tristique.
      </p>
    </div>
  </div>
</section>

<section class="mt-11 pb-5">
  <h2
    class="text-center text-xl md:text-5xl capitalize font-bold flex items-center gap-1 justify-center text-blue-950"
  >
    <span class="text-lg md:text-2xl"
      ><i class="fa-brands fa-instagram"></i
    ></span>
    <span class="main-color"> #iconic_fashion</span> On Instagram
  </h2>

  <p class="text-gray-600 text-base md:text-lg italic text-center mb-5 mt-2">
    Phasellus lorem malesuada ligula pulvinar commodo maecenass
  </p>

  <div class="w-full">
    <img src="/images/Frame 74.png" alt="" />
  </div>
</section>
