<section class="flex">
  <div class="login w-full md:w-1/2 h-screen form-bg p-3">
    <div class="pt-9 ps-9 title font-mono mt-10">
      <h1 class="text-3xl font-bold text-blue-950 mb-2">Wlecom Back!</h1>
      <p class="text-gray-500">Please login or sign up to continue our opp</p>
    </div>

    <div class="form mt-0">
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <label for="email" class="block mb-2 text-lg font-bold text-gray-900"
          >E-mail</label
        >
        <div class="relative">
          <div class="flex items-center">
            <span class="absolute top-2 left-3">
              <i class="fa-regular fa-envelope text-xl main-color"></i>
            </span>
          </div>

          <input
            formControlName="email"
            type="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-amber-800 focus:border-amber-800 block w-full ps-10 p-2.5"
            placeholder="E-mail"
          />

          @if (loginForm.get('email')?.errors &&
          loginForm.get('email')?.touched) {
          <div
            class="flex p-4 mb-4 mt-1 text-sm text-red-950 rounded-lg bg-red-300"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if(loginForm.get('email')?.getError('required')){
                <li>email is required</li>
                } @else if (loginForm.get('email')?.getError('email')) {
                <li>Enter Valid Email</li>
                }
              </ul>
            </div>
          </div>
          }
        </div>

        <label
          for="password"
          class="block mt-4 mb-2 text-lg font-bold text-gray-900"
        >
          password</label
        >
        <div class="relative">
          <div class="flex justify-between items-center">
            <span class="absolute top-2 left-3">
              <i #lock class="fa-solid fa-lock text-xl main-color"></i>
            </span>

            <span
              class="absolute top-2 cursor-pointer right-4"
              (click)="togglePassword()"
            >
              <i #eye class="fa-solid fa-eye-slash text-xl main-color"></i>
            </span>
          </div>
          <input
            formControlName="password"
            #passwordInput
            type="password"
            id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-800 focus:border-amber-800 block w-full ps-10 p-2.5"
            placeholder="xxxxxxxxx"
          />

          @if (loginForm.get('password')?.errors &&
          loginForm.get('password')?.touched) {
          <div
            class="flex p-4 mb-4 mt-1 text-sm text-red-950 rounded-lg bg-red-300"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if(loginForm.get('password')?.getError('required')){
                <li>password is required</li>
                } @else if (loginForm.get('password')?.getError('pattern')) {
                <li>
                  Password must start with an uppercase letter and be at least 8
                  characters long
                </li>
                }
              </ul>
            </div>
          </div>
          }
        </div>
        <div class="px-7 mt-4 flex justify-between items-center">
          <div>
            <label class="flex items-center space-x-2 cursor-pointer">
              <input
                type="checkbox"
                class="w-5 h-5 main-color bg-gray-100 border-gray-300 rounded focus:ring-amber-800"
              />
              <span class="capitalize text-gray-900">Remeber me</span>
            </label>
          </div>

          <div>
            <a
              (click)="navigateToForgotPassword()"
              class="main-color underline cursor-pointer font-mono font-semibold"
            >
              @if(!isForgotPasswordLoading){ Forgot Password? } @if
              (isForgotPasswordLoading) {
              <span>
                <i class="fas fa-spin fa-spinner text-3xl main-color"></i
              ></span>
              }
            </a>
          </div>
        </div>

        <button
          [disabled]="isLogin"
          type="submit"
          class="font-mono bg-main btn-main w-full py-3 mx-auto block mt-7"
        >
          @if(!isLogin){ log in } @if (isLogin) {
          <span> <i class="fas fa-spin fa-spinner text-3xl"></i></span>
          }
        </button>
        @if (messageError) {

        <div
          #toastError
          class="flex items-center w-full max-w-xs mt-3 mx-auto p-4 mb-4 text-white bg-red-700 rounded-lg shadow-sm"
          role="alert"
        >
          <div
            class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"
              />
            </svg>
          </div>
          <div class="ms-3 text-sm font-normal">{{ messageError }}</div>
          <button
            type="button"
            (click)="closeToast('error')"
            class="ms-auto bg-white text-gray-400 hover:text-gray-900 rounded-lg p-1.5 hover:bg-gray-100"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>
        } @if (messageSuccess) {
        <div
          #toastSuccess
          class="flex items-center w-full max-w-xs mt-3 mx-auto p-4 mb-4 text-white bg-green-600 rounded-lg shadow-sm"
          role="alert"
        >
          <div
            class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>
          </div>
          <div class="ms-3 text-sm font-normal">{{ messageSuccess }}</div>
          <button
            type="button"
            (click)="closeToast('success')"
            class="ms-auto bg-white text-gray-400 hover:text-gray-900 rounded-lg p-1.5 hover:bg-gray-100"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>
        }

        <div class="social mx-auto text-center">
          <p class="py-3">or Continue With</p>

          <div class="flex justify-center items-center">
            <ul class="flex space-x-4">
              <li><i class="fa-brands fa-google text-red-500 text-3xl"></i></li>
              <li>
                <i class="fa-brands fa-facebook text-blue-900 text-3xl"></i>
              </li>
              <li><i class="fa-brands fa-apple text-gray-800 text-3xl"></i></li>
            </ul>
          </div>

          <div class="hint flex justify-center items-center">
            <p class="py-3">Don’t have an account ?</p>
            <a
              (click)="navigateToRegister()"
              class="main-color ms-1 underline cursor-pointer font-mono font-semibold"
            >
              @if(!isSingUp){ Sign Up } @if (isSingUp) {
              <span>
                <i class="fas fa-spin fa-spinner text-3xl main-color"></i
              ></span>
              }
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="slider hidden md:block w-1/2 h-screen">
    <div class="image hidden md:block">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img
            src="/images/unsplash_SXck496Sg54.png"
            class="w-full h-screen"
            alt=""
          />
          <div class="absolute bottom-24 left-64">
            <h2
              class="text-white capitalize text-3xl mb-2 md:text-3xl font-bold"
            >
              welcom to trendify
            </h2>
            <p class="text-white ms-12 capitalize md:text-lg font-medium">
              discover the latest trends,<br />
              express your unique style.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="/images/unsplash_ezdrvzA1hZw.png"
            class="w-full h-screen"
            alt=""
          />
          <div class="absolute bottom-24 left-64">
            <h2
              class="text-white capitalize text-3xl mb-2 md:text-3xl font-bold"
            >
              welcom to trendify
            </h2>
            <p class="text-white ms-12 capitalize md:text-lg font-medium">
              discover the latest trends,<br />
              express your unique style.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="/images/unsplash_mB-SwZFP1kQ.png"
            class="w-full h-screen"
            alt=""
          />
          <div class="absolute bottom-24 left-64">
            <h2
              class="text-white capitalize text-3xl mb-2 md:text-3xl font-bold"
            >
              welcom to trendify
            </h2>
            <p class="text-white ms-12 capitalize md:text-lg font-medium">
              discover the latest trends,<br />
              express your unique style.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="/images/unsplash_Dli2lIXQiJc.png"
            class="w-full h-screen"
            alt=""
          />
          <div class="absolute bottom-24 left-64">
            <h2
              class="text-black capitalize text-3xl mb-2 md:text-3xl font-bold"
            >
              welcom to trendify
            </h2>
            <p class="text-black ms-12 capitalize md:text-lg font-medium">
              discover the latest trends,<br />
              express your unique style.
            </p>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
