<section>
  <footer class="bg-black text-white dark:bg-slate-200">
    <div class="mx-auto flex w-full max-w-screen-xl">
      <div class="grid grid-cols-2 gap-x-16 px-4 py-6 lg:py-8 md:grid-cols-5">
        <div>
          <h2 class="mb-6 text-2xl font-semibold">Exclusive</h2>
          <h3 class="text-xl mb-3">Subscrie</h3>
          <span>Get 10% off your first order</span>

          <div class="my-email my-4">
            <input
              type="email"
              id="email"
              class="bg-black border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-white focus:border-white block w-full px-3 py-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-white dark:focus:border-white"
              placeholder="Enter Your Email"
              required
            />
            <i class="fa-solid fa-location-arrow icon"></i>
          </div>
        </div>
        <div>
          <h2 class="mb-6 text-2xl font-semibold uppercase">Support</h2>
          <ul class="font-light">
            <li class="mb-4">
              <a href="#">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</a>
            </li>
            <li class="mb-4">
              <a href="#">exclusive.com</a>
            </li>
            <li class="mb-4">
              <a href="#">+88015-88888-9999</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-2xl font-semibold uppercase">Account</h2>
          <ul class="font-light">
            <li class="mb-4">
              <a href="#">My Account</a>
            </li>
            <li class="mb-4">
              <a href="#">Login / Register</a>
            </li>
            <li class="mb-4">
              <a href="#">Cart</a>
            </li>
            <li class="mb-4">
              <a href="#">Wishlist</a>
            </li>
            <li class="mb-4">
              <a href="#">Shop</a>
            </li>
            <li class="mb-4">
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-2xl font-semibold uppercase">Quick Link</h2>
          <ul class="font-light">
            <li class="mb-4">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="mb-4">
              <a href="#">Terms Of Use</a>
            </li>
            <li class="mb-4">
              <a href="#">FAQ</a>
            </li>
            <li class="mb-4">
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-2xl font-semibold uppercase">Download App</h2>
          <span class="font-light text-sm">Save $3 with App New User Only</span>
          <div class="images flex gap-3 mt-5">
            <div class="image1 w-64">
              <img
                src="/image/QR_code_for_mobile_English_Wikipedia.svg.png"
                alt=""
                class="bg-white"
              />
            </div>
            <div class="image2 w-72">
              <img src="/image/Google_Play_Store_badge_EN.svg.webp" alt="" />
              <img
                src="/image/Download_on_the_App_Store_RGB_blk.svg.png"
                alt=""
                class="mt-5"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
