.main-color{
  color:  #8B5E35;
}
a {
  transition: all .5s;
}

a:hover {
  color: #3e2f21 ;
}
.bg-main{
  background-color:#8B5E35 ;
}
.form-bg{
  background-color:  #F6F6F6;
}
.btn-main {
  @apply disabled:bg-gray-800 capitalize text-white font-bold text-xl rounded-3xl
}

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  background: #fafafa;
}

/* لون الـ bar نفسه */
::-webkit-scrollbar-thumb {
  background-color:#8B5E35 ;
  border-radius: 10px;
  cursor: pointer;
}


