<section
  class="md:container py-10 px-5 md:p-[70px] mt-5 bg-second dark:bg-slate-50"
>
  <nav class="text-gray-500 ms-6 text-xl mb-5 mt-2">
    <span class="main-color text-lg font-bold"
      >Home <span class="text-gray-500">></span></span
    >

    <span class="text-blue-950 font-semibold px-1"
      >blogs <span class="text-gray-500">></span>
    </span>
  </nav>

  <div class="w-fit mx-auto flex flex-col items-center">
    <h2 class="text-3xl font-bold font-serif text-blue-950 mt-10">Blogs</h2>

    <p class="text-lg font-medium font-serif text-blue-950 mt-3">
      Make your best moments more stylish with our latest designs of clothing.
    </p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 mt-5">
    <div class="bg-white rounded-2xl shadow-2xl">
      <div class="imag">
        <img src="/images/unsplash_vHVfpi3h5xk-5.png" alt="" />
      </div>
      <div class="p-5">
        <div class="flex justify-between">
          <p class="text-blue-950 font-normal px-1">Fashion</p>
          <p class="text-blue-950 font-normal px-1">Dec 30, 2022</p>
        </div>

        <h2 class="text-blue-950 text-lg font-bold px-1 mt-2">
          The perfect Shopify theme
        </h2>

        <p class="text-base font-medium font-serif p-5 text-blue-950">
          Shopify is the second most popular eCommerce store builder in the
          world. You can use Shopify in nearly every coun
        </p>
      </div>
    </div>
    <div class="bg-white rounded-2xl shadow-2xl">
      <div class="imag">
        <img src="/images/unsplash_vHVfpi3h5xk-1.png" alt="" />
      </div>
      <div class="p-5">
        <div class="flex justify-between">
          <p class="text-blue-950 font-normal px-1">Fashion</p>
          <p class="text-blue-950 font-normal px-1">Dec 30, 2022</p>
        </div>

        <h2 class="text-blue-950 text-lg font-bold px-1 mt-2">
          The perfect Shopify theme
        </h2>

        <p class="text-base font-medium font-serif p-5 text-blue-950">
          Shopify is the second most popular eCommerce store builder in the
          world. You can use Shopify in nearly every coun
        </p>
      </div>
    </div>
    <div class="bg-white rounded-2xl shadow-2xl">
      <div class="imag">
        <img src="/images/unsplash_vHVfpi3h5xk-2.png" alt="" />
      </div>
      <div class="p-5">
        <div class="flex justify-between">
          <p class="text-blue-950 font-normal px-1">Fashion</p>
          <p class="text-blue-950 font-normal px-1">Dec 30, 2022</p>
        </div>

        <h2 class="text-blue-950 text-lg font-bold px-1 mt-2">
          The perfect Shopify theme
        </h2>

        <p class="text-base font-medium font-serif p-5 text-blue-950">
          Shopify is the second most popular eCommerce store builder in the
          world. You can use Shopify in nearly every coun
        </p>
      </div>
    </div>
    <div class="bg-white rounded-2xl shadow-2xl">
      <div class="imag">
        <img src="/images/unsplash_vHVfpi3h5xk-4.png" alt="" />
      </div>
      <div class="p-5">
        <div class="flex justify-between">
          <p class="text-blue-950 font-normal px-1">Fashion</p>
          <p class="text-blue-950 font-normal px-1">Dec 30, 2022</p>
        </div>

        <h2 class="text-blue-950 text-lg font-bold px-1 mt-2">
          The perfect Shopify theme
        </h2>

        <p class="text-base font-medium font-serif p-5 text-blue-950">
          Shopify is the second most popular eCommerce store builder in the
          world. You can use Shopify in nearly every coun
        </p>
      </div>
    </div>
    <div class="bg-white rounded-2xl shadow-2xl">
      <div class="imag">
        <img src="/images/unsplash_vHVfpi3h5xk.png" alt="" />
      </div>
      <div class="p-5">
        <div class="flex justify-between">
          <p class="text-blue-950 font-normal px-1">Fashion</p>
          <p class="text-blue-950 font-normal px-1">Dec 30, 2022</p>
        </div>

        <h2 class="text-blue-950 text-lg font-bold px-1 mt-2">
          The perfect Shopify theme
        </h2>

        <p class="text-base font-medium font-serif p-5 text-blue-950">
          Shopify is the second most popular eCommerce store builder in the
          world. You can use Shopify in nearly every coun
        </p>
      </div>
    </div>
    <div class="bg-white rounded-2xl shadow-2xl">
      <div class="imag">
        <img src="/images/unsplash_vHVfpi3h5xk-3.png" alt="" />
      </div>
      <div class="p-5">
        <div class="flex justify-between">
          <p class="text-blue-950 font-normal px-1">Fashion</p>
          <p class="text-blue-950 font-normal px-1">Dec 30, 2022</p>
        </div>

        <h2 class="text-blue-950 text-lg font-bold px-1 mt-2">
          The perfect Shopify theme
        </h2>

        <p class="text-base font-medium font-serif p-5 text-blue-950">
          Shopify is the second most popular eCommerce store builder in the
          world. You can use Shopify in nearly every coun
        </p>
      </div>
    </div>
  </div>
</section>
